/*Google font*/
@import url('https://fonts.googleapis.com/css?family=Exo:100,200,300,400,500,600,700&display=swap');
/*----------------------------------------- LANDING*/

.landing {
    border: 0px;
    z-index: 1;
    text-align: center;
}

body {
    padding: 0;
    background: white;
}

html,
body {
    height: 100%;
    color: black;
}

.content {
    margin-bottom: 0%;
    font-family: 'Exo', sans-serif;
}

.img {
    height: 140px;
    width: 140px;
}

h2 {
    font-size: 2.5em;
}



/*-------------------------------------------------------NAV*/

.col-md-4 {
    padding: 10px 0px;
    background: rgba(100, 100, 100, 0.02);
    margin: 0px;

}



nav {
    color: black;
    text-align: center;
    font-family: 'Exo', sans-serif;
    background: rgba(255, 255, 255, 0.6);
    background-clip: padding-box;
    font-size: 1.3em;
    height: 15%;
    margin-bottom: 0px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: black;
    right: 0;
    text-decoration: none;
}

nav a:hover:after {
    border-color: black;
    right: 0;
}

nav a:after {
    border-radius: 1em;
    border-top: .1em solid #e8dcff;
    content: "";
    position: absolute;
    right: 100%;
    bottom: .14em;
    left: 0;
    transition: right .4s cubic-bezier(0, .5, 0, 1),
    border-color .4s ease-out;
}

/*--------------------------------------------*/

#map {
    width: 100%;
    height: 90%;
    background-color: grey;
}

.spotfinder {
    margin-top: 30px;

}

.form-text {
    font-family: "Exo", sans-serif;
    text-align: center;
    color: #252129;
    margin-top: 30px;
    margin-bottom: 20px;
}


.form {
    margin-bottom: 7%;
    text-align: center;

}

.submit {
    font-family: 'Exo', sans-serif;
    font-size: 150%;
    border: 1px solid #e8dcff;
    border-radius: 50px 50px;
    padding: 0px 30px;
    margin-top: 20px;
}



/*--------------------------------------------MEDIA QUERIES */

@media (min-width: 1024px) {

    #map {
        height: 80%;
    }
    .content {
        margin-bottom: 30px;
    }
}
